:root {
    --primary-text-color: #757575;
    --additional-text-color: #212121;
    --accent: #2196F3;
    --secondary-text-color: #FFFFFF;
    --additional-secondary-text-color: rgba(255, 255, 255, 0.6);
    --primary-background-color: #F5F4FA;
    --secondary-background-color: #2F303A;
    --portfolio-bcg-color: #EEEEEE

}
body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.logo {
    color: var(--additional-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    
}
.logo-accent {
    color: var(--accent);
}
.list {
    list-style: none;
}
.button-studio {
    color: var(--additional-text-color);
    background-color: var(--primary-background-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.button-studio:hover,
.button-studio:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent);
}

.button-portfolio {
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: inherit;
      
}

.features-title,
.work-title,
.team-title {
    color: var(--additional-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Шапка сайта */
.site-nav .link {
    color: var(--additional-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent);
}
.site-nav .link.current {
    color: var(--accent);
}
.contact-nav .link {
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
}
/* Блок Герой */
.hero {
    background-color: var(--secondary-background-color)
}
.hero-title {
    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* Особенности */
.features-list-title {
    color: var(--additional-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features-text {
    font-size: 14px;
    line-height: 1.17;
}
/* Чем мы занимаемся */

/* Наша команда */
.team-card {
    background-color: var(--secondary-text-color);
}
.team-card-title {
    color: var(--additional-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19px;  
}
.team-description {
    font-size: 16px;
    line-height: 1.17;
}
/* Подвал */
.footer {
    background-color: var(--secondary-background-color);
}
.additional-accent {
    color: var(--secondary-text-color);
}
.address-nav .link {
    color: var(--additional-secondary-text-color);
    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.address-nav .link:hover,
.address-nav .link:focus {
    color: var(--accent);
}
.address-nav .map {
    color: var(--secondary-text-color);
}
/* Страница Портфолио */
.body-portfolio {
    background-color: var(--portfolio-bcg-color);
}
/* Блок Герой */
.portfolio-card {
    background-color: var(--secondary-text-color);
}
.portfolio-title {
    color: var(--additional-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
}
.portfolio-description {
    font-size: 16px;
    line-height: 1.88;
}